@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@300&family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" sans-serif;
}

.logo {
  font-family: "Righteous", cursive;
}

/* customs start */
.container {
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #e71a23;
  color: #fff;
  padding: 20px 60px;
  font-size: small;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 3px;
}

.pad-TB {
  padding: 170px 0;
}

/* customs end */

.items-holder {
  display: flex;
  background-color: #fff;
  height: 65px;
  width: 100%;
  font-family: "Righteous", cursive;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  color: #bbb;
}

.hero-bg {
  height: 100%;
  background-image: url("../images/hero-bg.jpg");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-pad-TB {
  padding: 170px 0;
}

.hero-bg .hero-pad-TB h4 {
  font-weight: 50;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.hero-bg .hero-pad-TB h1 {
  font-weight: 900;
  font-size: 70px;
  font-family: "Archivo Black", sans-serif;
}

.Ourservice-section {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
}

.sm-title {
  color: rgb(146, 145, 145);
  letter-spacing: 0.2rem;
}

.lg-title {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.Ourservice-section .text {
  font-size: larger;
  color: rgb(47, 47, 47);
  text-align: center;
  width: 70%;
  padding: 0px auto;
}

.call-container {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.call-section .call-container .call-image {
  flex-basis: 1;
  overflow: hidden;
}

.call-section .call-container .tap,
.call-section .call-container .pipes {
  width: 49%;
}

.call-section .call-container .call-text {
  padding: 50px 0;
  text-align: start;
  font-size: 1.2rem;
}

.call-section .call-container .pipes {
  padding: 30px 0 0px 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.call-section .call-container .pipes img {
  padding-top: 40px;
}

.call-section .call-container .pipes h3 {
  font-weight: 700;
  font-size: 35px;
}

.call-section .call-container .pipes h4 {
  font-weight: 700;
  font-size: 30px;
}

.best-section {
  background-image: url("https://i.postimg.cc/HkgFpcF0/g.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
}

.bestImg {
  height: 600px;
  flex: 1;
  background-image: url("../images/billionphotos1079319min.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.best-text {
  height: 600px;
  flex: 1;
  margin: 100px 40px 0 0;
}

.best-text .h2 {
  font-size: 75px;
  font-weight: 700;
  color: #104e92;
}

.best-text hr {
  color: #e71a23;
  height: 0.7rem;
  margin: 30px 0;
}

.best-text p {
  font-size: 1.4rem;
  font-weight: 450;
}

.service-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Roboto sans-serif;
  letter-spacing: none;
}

.imagez {
  background-color: #e71a23;
  vertical-align: center;
  width: 80px;
  height: 80px;
  border: #e71a23 0px double;
  border-radius: 50%;
  padding: 20px;
  overflow: visible;
}

.plumb-slides {
  background-color: #104e92;
  color: #fff;
  padding: 100px;
}

.rowgen {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
}

.plumb-words {
  flex: 1;
  text-align: left;
  margin: auto 0px;
  padding-left: 100px;
}

.plumb-words p {
  letter-spacing: 0.2rem;
  font-size: larger;
  font-family: Montserrat, sans-serif;
}

.plumb-words h2 {
  font-size: 90px;
  font-weight: 300;
  line-height: 6rem;
  padding-right: 50px;
}

.colgen {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.picture-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.picture-row .plumb-image-container {
  height: 300px;
  flex: 1;
  display: flex;
  flex-grow: 1;
  /* flex-wrap: wrap; */
  overflow: hidden;
  border: #104e92 15px solid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.plumb-image-1 {
  background-image: url("../images/frg.jpg");
}

.plumb-image-2 {
  background-image: url("../images/rg.jpg");
}
.plumb-image-3 {
  background-image: url("../images/billionphotos1882951.jpg");
}
.plumb-image-4 {
  background-image: url("../images/billionphotos1882993.jpg");
}

.last-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-title {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  width: 55%;
}

.last-section .last-text {
  font-size: 33px;
  font-weight: 300;
  color: #000;
  text-align: center;
  width: 50%;
  padding: 0px auto;
}

.white-button {
  background-color: #fff;
  color: #000;
  padding: 20px 60px;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: black 1px solid;
  border-radius: 3px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .hero-bg {
    background-position: 48% 0;
  }

  .hero-pad-TB {
    padding: 200px 0;
  }

  .Ourservice-section{
    padding: 80px 10px;
  }

  .Ourservice-section .lg-title {
    font-size: 40px;
  }

  .Ourservice-section .text {
    width: 90%;
  }

  .Ourservice-section button {
    padding: 15px 30px;
    font-size: xx-small;
    margin-bottom: 50px;
  }

  .call-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .call-section .call-container .tap,
  .call-section .call-container .pipes {
    width: 100%;
  }

  .call-section .call-container .call-image {
    overflow: visible;
  }

  .call-section .call-container img {
    padding: 40px 0;
  }

  .call-section .call-container .text {
    padding: 25px 40px;
    text-align: left;
    font-size: 1.1rem;
  }

  .bestImg {
    background-size: cover;
  }

  .plumb-slides .rowgen {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px auto;
    padding: 50px auto;
  }

  .plumb-words {
    text-align: left;
    padding-left: 0px;
    padding: 0 auto;
  }

  .plumb-words h2 {
    font-size: 60px;
    line-height: normal;
  }

  .picture-row .plumb-image-container {
    height: 200px;
    flex: 1;
    display: flex;
    flex-grow: 1;
    /* flex-wrap: wrap; */
    overflow: hidden;
    padding: 60px;
    border: #104e92 10px solid;
  }

  .last-title {
    width: 80%;
    font-size: 30px;
    font-weight: 600;
  }

  .last-section .last-text {
    width: 75%;
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .hero-bg {
    background-position: 65% 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-pad-TB {
    padding: 300px 0 0 0;
    
  }
  .hero-bg .hero-pad-TB h4{
    letter-spacing: 0.1rem;
    font-size: 2rem;text-align: left;
  }

  .hero-bg .hero-pad-TB h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: left;
  }

  section.Ourservice-section {
    padding: 40px 0 0 0;
  }

  .lg-title {
    text-align: center;
    font-size: 40px;
    padding: 0px 90px;
  }

  .Ourservice-section .text {
    font-size: large;
    padding: 0 142px;
  }

  .Ourservice-section button {
    padding: 15px 30px;
    font-size: xx-small;
    margin-bottom: 50px;
  }

  .call-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 80%;
  }

  .call-section .call-container .call-image {
    flex-basis: 1;
    overflow: hidden;
  }

  .call-section .call-container .text {
    padding: 15px 0px;
    font-size: 0.2rem;
  }

  .call-section
    .call-container
    .pipes
    h3
    .call-section
    .call-container
    .pipes
    h4 {
    font-weight: 600;
    font-size: 10px;
  }

  .call-section .call-container .call-text {
    padding: 10px;
    font-size: 1.2rem;
  }

  .best-section {
    display: flex;
    flex-direction: column;
    height: 600px;
    flex-basis: 80%;
  }

  .bestImg {
    height: 600px;
    flex: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .best-text {
    padding: 0 50px;
    margin: 0 auto;
  }

  .best-text .h2 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
  }

  .best-text hr {
    color: #e71a23;
    height: 0.7rem;
    margin: 20px 0;
  }

  .best-text p {
    font-size: 0.8rem;
    font-weight: 450;
  }

  .best-text button {
    background-color: #e71a23;
    color: #fff;
    padding: 15px 20px;
    font-size: xx-small;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 3px;
  }

  .service-section .py-5 {
    padding: 15px 0;
  }

  .img-text-cover {
    margin-bottom: 30px;
  }

  .service-section .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .plumb-slides .plumb-pictures .plumb-image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 40px;
  }

  .white-button {
    margin-left: 0;
  }
}
